[Desktop Entry]
Type=Service
TryExec=rclone
Exec=kcmshell6 kcm_rclone_mounts
Icon=document-open-remote
Categories=Qt;KDE;X-KDE-settings-network;
X-KDE-ServiceTypes=KCModule
X-KDE-Library=plasma/kcms/kcm_rclone_mounts
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=network

Name=Rclone Mounts
Comment=Manage rclone-backed mounts (SMB, Drive, WebDAV)
